@use '@/styles/variables' as v;

@mixin responsive-padding {
  padding: v.$padding-desktop-xl;

  @media (max-width: 1440px) {
    padding: v.$padding-desktop;
  }

  @media (max-width: 899px) {
    padding: v.$padding-mobile;
  }
}

@mixin responsiveGrid(
  $minColumns: v.$base-columns,
  $maxColumns: v.$max-columns,
  $widgetWidth: v.$widget-width,
  $gap: v.$widget-gap,
  $outerOffset: v.$grid-outer-offset
) {
  @for $n from $minColumns through $maxColumns {
    $pureWidth: ($widgetWidth * $n) + ($gap * ($n - 1));
    $screenWidth: $pureWidth + $outerOffset;

    @media (min-width: #{$screenWidth}) {
      grid-template-columns: repeat(#{$n}, #{$widgetWidth});
      max-width: #{$pureWidth};
    }
  }
}
