$primary-color: #a6a6a6;
$dark-color: #333333;
$light-text-color: #ffffff;
$positive-color: #ff0000;
$negative-color: #0000ff;
$secondary-color: #cccccc;

$widget-width: 44px;
$widget-height: 24px;
$widget-gap: 4px;
