$dark-color: #000000;
$dark-text-color: #333333;
$light-text-color: #ffffff;
$positive-color: #ff0000;
$negative-color: #0000ff;
$widge-color: #cccccc;

$widget-width: 44px;
$widget-height: 24px;
$widget-gap: 4px;
