@use '@/styles/variables' as v;

.widget {
  display: flex;
  flex-direction: column;
  width: v.$widget-width;
  height: v.$widget-height;
  background-color: v.$secondary-color;
  border: 1px solid v.$primary-color;
  border-radius: 4px;
  padding: 2px;

  .widgetName {
    font-size: 8px;
    line-height: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .widgetValue {
    margin-left: auto;
    font-size: 10px;
    line-height: 10px;
  }

  &.positive {
    background-color: v.$positive-color;
    color: v.$light-text-color;
  }

  &.negative {
    background-color: v.$negative-color;
    color: v.$light-text-color;
  }
}
