@use '@/styles/variables' as v;
@use '@/styles/mixins';

.grid {
  @include mixins.responsiveGrid($outerOffset: v.$page-padding-outer-space-desktop-xl);
  display: grid;
  gap: v.$widget-gap;
  width: max-content;
  height: 100%;
  margin: 0 auto;

  @media (max-width: 1440px) {
    @include mixins.responsiveGrid($outerOffset: v.$page-padding-outer-space-desktop);
  }

  @media (max-width: 899px) {
    @include mixins.responsiveGrid($outerOffset: v.$page-padding-outer-space-mobile);
  }
}
